/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  background: url('background.jpg');
  background-size: cover;
  height: 100%;
  z-index: -1;
}
body {
  background:rgba(255,255,255,0.7);
  height: 100%;
}
.title {
  text-align: center;
  margin-top: 170px;
  font-family: 'Overpass Mono', monospace;
}
h1 {
  font-size: 100px;
  color: #0b7598;
}
p {
  font-size: 20px;
}
.nav {
  padding-top: 20px;
  border: 0px;
}
#current-user {
  padding-top: 30px;
  float: right;
}
a {
  color: #0b7598;
}
#current-user a {
  color: #0b7598;
}
